{% extends 'layout.html' %}
{% block content %}
    <div class="row">
        <div class="span3">
            <img id="poster" src="{{urls.poster.w185}}{{movie.poster_path}}" alt="{{movie.title}}" />
        </div>
        <div class="span9">
            <h1 class="page-header">{{movie.title}}</h1>
            <p class="lead">{{movie.overview}}</p>
            {% if cast['cast'] %}
            <div id="cast">
                <h3>Cast</h3>
                <ul class="inline">
                {%- for c in cast['cast'] %}
                    <li>{{c['name']}}</li>
                {%- endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}